li {
  display: inline;
  color: #000000;
  font-size: larger;
  font-weight: 800;
}
ul {
  text-align: left;
  margin-right: 150px;
}
.navlink {
  color: black;
  text-decoration: none;
  margin: 5px;
}
.navlink:active {
  color: red;
}
.navlink:hover {
  color: red;
}
.masterdiv {
  width: 100%;
  height: auto;
  background-color: transparent;
}
.masterdiv img {
  height: 30px;
  width: 30px;
}